header{
    display: flex;
    align-items: center;
    background-color: #161616;
    margin-bottom: 50px;
}

header img{
    width: 100px;
    height: auto;
    margin: 5px 15px 5px 50px;
}
header p{
    color: #1ca275;
    font-family: 'Lemon', serif;
    text-shadow: 2px 2px 5px rgba(202, 149, 255, 0.3), 
    0px -2px 5px rgba(255, 254, 254, 0.3);
    /*text-shadow: -1px 1px 0 #41ba45,
	1px 1px 0 #c63d2b,
	1px -1px 0 #42afac,
	-1px -1px 0 #c6c23f;*/
}

@media screen and (max-width: 350px) {
    header{
        flex-direction: column;
    }
    header img{
        margin: 5px 0 0 0;
    }
    header p {
        margin-bottom: 10px;
    }
}